body{
 background-image: url("diamond_upholstery.png");
 background-size: 100%;
 overflow: scroll;
}

.bcg{
	background-color: #ffffe5;
 	margin: 0 auto;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}


.container{

    left: 0px;
    top: 0px;
    z-index: 100;
    min-width: 100%;

}

#main{
	margin: 0 auto;
}

#button{
	margin-top: 200px;
}


h1 { 
	color: #808080; 
	font-family: "Great Vibes", cursive; 
	font-size: 55px; 
	margin-top: 25px;
	font-weight: bold; 
	margin: 0 auto;
	text-align: center; 
	text-shadow: 0 1px 1px #fff; 
}

h2 { 
	color: #0099CC; 
	font-family: "Great Vibes", cursive; 
	font-size: 25px; 
	line-height: 160px; 
	font-weight: bold; 
	margin-bottom: 0px; 
	margin-top: 0px; 
	text-align: center; 
	text-shadow: 0 1px 1px #fff; 
}

.hide{
	visibility: none;
}
#footer{
	position: relative;
}

#add{
	margin-top: 10px;
	}
#edit{
	margin-top: 10px;
}
#save{
	margin-top: 10px;
}