.table {
  margin-top: 5px;
  width: 100%;  
  display: table;
  text-align: center;
}
@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.rowt {
  display: table-row;
  background: #f6f6f6;
}
.rowt:nth-of-type(odd) {
  background: #e9e9e9;
}
.rowt.header-grey {
  font-weight: 900;
  color: #ffffff;
  background: #c1c1a4;
}
.rowt.header-green {
  font-weight: 900;
  color: #ffffff;
  background: #27ae60;
}
.rowt.header-summary {
  font-weight: 900;
  color: #ffffff;
  background: #c1c1a4;
}

@media screen and (max-width: 580px) {
  .rowt {
    padding: 8px 0;
    display: block;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}
@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 12px;
    display: block;
  }
}


